# .NET
bin/
obj/
*.db
*.user
*.suo
*.cache
*.log
*.txt

# Secrets
appsettings.json
appsettings.*.json

# Node / React
node_modules/
build/
dist/
.env

# System
.DS_Store
Thumbs.db
.vscode/

# Ignore Visual Studio files
.vs/
*.user
*.suo
*.dbmdl
*.vscode/
bin/
obj/

